<app-header></app-header>
<section>
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6 ">
        <div class="card">
          <div class="text-center">
            <h1>Quên mật khẩu</h1>
            <h6>Vui lòng nhập email</h6>
          </div>
          <form action="" [formGroup]="forgotPasswordForm" (ngSubmit)="forgotPassword()">
            <div class="text-center mb-3 mt-3">
              <mat-error>{{message}}</mat-error>
            </div>
            <mat-form-field  class="full-width" appearance="outline" >
              <mat-label >Email</mat-label>
              <input matInput placeholder="vd:(example@gmail.com)" formControlName="email" required>
              <mat-error *ngIf="forgotPasswordForm.hasError('email','email') && !forgotPasswordForm.hasError('required','email')">Vui lòng nhập đúng email</mat-error>
              <mat-error *ngIf="forgotPasswordForm.controls['email'].dirty && forgotPasswordForm.hasError('required','email')">Vui lòng nhập email</mat-error>
            </mat-form-field>
            <div class="text-center">
              <button mat-raised-button type="submit" [disabled]="!forgotPasswordForm.valid" class="btn">Gửi</button>
            </div>
          </form>
          <a routerLink="/login" class="switch-link">Đã có tài khoản? Đăng nhập ngay</a>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
