<app-header></app-header>
<section>
  <div class="container mt-5 ">
    <div class="row justify-content-center">
      <div class="col-md-6 ">
        <div class="card">
          <div class="text-center">
            <h1>Đổi mật khẩu</h1>
          </div>
          <form action="" [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
            <div class="text-center mb-0 mt-3">
              <mat-error>{{message}}</mat-error>
            </div>
            <mat-form-field  class="full-width" appearance="outline" >
              <mat-label >Mật khẩu hiện tại</mat-label>
              <input [type]="showPassword ? 'text' : 'password'"  matInput placeholder="Input here..." formControlName="password" required>
              <mat-icon matSuffix (click)="togglePasswordVisibility()">
                {{showPassword?'visibility_off':'visibility'}}
              </mat-icon>
              <mat-error *ngIf="changePasswordForm.hasError('minlength','password') && !changePasswordForm.hasError('required','password')">Vui lòng nhập tối thiểu 3 kí tự</mat-error>
              <mat-error *ngIf="changePasswordForm.controls['password'].dirty && changePasswordForm.hasError('required','password')">Vui lòng nhập mật khẩu hiện tại</mat-error>
            </mat-form-field>
            <mat-form-field  class="full-width" appearance="outline" >
              <mat-label >Mật khẩu mới</mat-label>
              <input [type]="showNewPassword ? 'text' : 'password'" matInput placeholder="Input here..." formControlName="newPassword" required>
              <mat-icon matSuffix (click)="toggleNewPasswordVisibility()">
                {{showNewPassword?'visibility_off':'visibility'}}
              </mat-icon>
              <mat-error *ngIf="changePasswordForm.hasError('minlength','newPassword') && !changePasswordForm.hasError('required','newPassword')">Vui lòng nhập tối thiểu 3 kí tự</mat-error>
              <mat-error *ngIf="changePasswordForm.controls['newPassword'].dirty && changePasswordForm.hasError('required','newPassword')">Vui lòng nhập mật khẩu mới</mat-error>
            </mat-form-field>

            <div class="text-center">
              <button type="submit" mat-raised-button [disabled]="!changePasswordForm.valid" class="btn pointer-event">Xác nhận</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>

