<ul style="min-height: 100%; width: 230px!important;font-size: 20px" class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" routerLink="/admin/food">
    <div class="sidebar-brand-icon rotate-n-15">
      <i class="fas fa-laugh-wink"></i>
    </div>
    <div class="sidebar-brand-text mx-3">Box Shoe</div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0">

  <li class="nav-item" routerLinkActive="active">
    <a class="nav-link" routerLink="/admin/revenue">
      <i class="fas fa-comment-dollar"></i>
      <span style="font-size: 13px">Tổng quan</span></a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider my-0">

  <!-- Nav Item - Dashboard -->
  <li class="nav-item" routerLinkActive="active">
    <a class="nav-link" routerLink="/admin/food">
      <i class="fas fa-comment-dollar"></i>
      <span style="font-size: 12px">Quản lý sản phẩm</span></a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider my-0">

  <!-- Nav Item - Dashboard -->
  <li class="nav-item" routerLinkActive="active">
    <a class="nav-link collapsed" routerLink="/admin/tag">
      <i class="fas fa-air-freshener"></i>
      <span style="font-size: 13px">Quản lý danh mục</span></a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider my-0">

  <!-- Nav Item - Dashboard -->
  <li class="nav-item" routerLinkActive="active">
    <a class="nav-link collapsed" routerLink="/admin/user">
      <i class="fas fa-users"></i>
      <span style="font-size: 13px">Quản lý tài khoản</span></a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider my-0">

  <li class="nav-item" routerLinkActive="active">
    <a class="nav-link collapsed" routerLink="/admin/order">
      <i class="fas fa-users"></i>
      <span style="font-size: 13px">Quản lý đơn hàng</span></a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider my-0">

  <li class="nav-item" routerLinkActive="active">
    <a class="nav-link collapsed" routerLink="/admin/color">
      <i class="fas fa-users"></i>
      <span style="font-size: 13px">Quản lý màu</span></a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider my-0">

  <li class="nav-item" routerLinkActive="active">
    <a class="nav-link collapsed" routerLink="/admin/size">
      <i class="fas fa-users"></i>
      <span style="font-size: 13px">Quản lý size</span></a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider my-0">



</ul>
